<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="primary">Paciente</ion-title>
    <ion-button slot="end" (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-header>
      <h2>Consulta marcada</h2>
    </ion-header>

    <ion-item>
      <ion-label>Nome do médico:{{evento.idmed}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Dia da consulta:{{evento.data}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Status da consulta:{{evento.confir}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Descrição da consulta:{{evento.descricao}}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>